@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-family: 'montserrat';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: #0f172a;
}

html,
body {
  height: 100%;
}

/* Montserrat Font */
@font-face {
  font-family: MontserratThin;
  src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: MontserratBold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratBlack;
  src: url(../fonts/montserrat/Montserrat-Black.ttf);
}

/* Louis Café Font */
@font-face {
  font-family: LouisGeorgeCafeLight;
  src: url(../fonts/louis_george_cafe/Louis\ George\ Cafe\ Light.ttf);
}
@font-face {
  font-family: LouisGeorgeCafe;
  src: url(../fonts/louis_george_cafe/Louis\ George\ Cafe.ttf);
}
@font-face {
  font-family: LouisGeorgeCafeBold;
  src: url(../fonts/louis_george_cafe/Louis\ George\ Cafe\ Bold.ttf);
}