main {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}

header h1 {
  margin-top: 24px;
  font-size: 30px;
  color: #f1f5f9;
}

header span{
  font-size: 17px;
  font-weight: 200;
}

#quiz {
  counter-reset: quiz-item;
}

.link{
  margin-bottom: 100px;
}

.quiz-item {
  margin-top: 24px;
  margin-bottom: 40px;
  border: 1px solid #475569;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #1e293b;
}

.quiz-item h3::before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  background-color: #455769;
  width: 28px;
  height: 28px;
  font-weight: 100;
  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  all: unset;
  border: 1px solid #94a3b8;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid #a3e635;
}

input:checked::before {
  content: "";
  width: 10px;
  height: 10px;

  background-color: #a3e635;
  border-radius: 50%;
}

#acertos {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: #a3e635;
  position: fixed;
  bottom: 0;
  left: 0;
}


.prox{
  margin-bottom: 100px;
}

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 2px solid #a3e635;
  border-radius: 5px;
  color: white;
  /* color: #18181a; */
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #0f172a;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: #0f172a;
  font-weight: 700;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}